.desc-content {
  ul {
    list-style-type: disc; /* Show bullets */
    padding-left: 1.5rem; /* Indent */
    margin-bottom: 1rem; /* Spacing below list */
  }

  li {
    margin-bottom: -1rem; /* Space between list items */
  }
       
  ol {
    list-style-type: decimal; /* Show bullets */
    padding-left: 1.5rem; /* Indent */
    margin-bottom: 1rem; /* Spacing below list */
  }

  p {
    padding-bottom: 1rem;
  }

  a {
    text-decoration: underline; /* Underline links */
    color: var(--red, #ea3038); /* Link color */

    &:hover {
      color: var(--red-hover, #c5131c); /* Change color on hover */
    }
  }

    h1 {
      font-size: 2rem;
      font-weight: bold;
      margin: 1rem 0;
    }
    
   h2 {
      font-size: 1.75rem;
      font-weight: bold;
      margin: 0.875rem 0;
    }
    
   h3 {
      font-size: 1.5rem;
      font-weight: bold;
      margin: 0.75rem 0;
    }
    
   h4 {
      font-size: 1.25rem;
      font-weight: bold;
      margin: 0.625rem 0;
    }
    
   h5 {
      font-size: 1rem;
      font-weight: bold;
      margin: 0.5rem 0;
    }
    
    h6 {
      font-size: 0.875rem;
      font-weight: bold;
      margin: 0.375rem 0;
    }
    
    
  }
