/* Basic editor styles */
.tiptap {
    :first-child {
      margin-top: 0;
    }
  
    ul {
      list-style-type: disc; /* Show bullets */
      padding-left: 1.5rem; /* Indent */
      margin-bottom: 1rem; /* Spacing below list */
    }
     
    ol {
      list-style-type: decimal; /* Show bullets */
      padding-left: 1.5rem; /* Indent */
      margin-bottom: 1rem; /* Spacing below list */
    }
  
    li {
      margin-bottom: 0.5rem; /* Space between list items */
    }
  
    a {
      text-decoration: underline; /* Underline links */
      color: var(--blue, #007bff); /* Link color */
  
      &:hover {
        color: var(--blue-hover, #0056b3); /* Change color on hover */
      }
    }

  img {
      max-width: 75%; /* Responsive images */
      height: auto;
      // margin: 0.5rem auto; /* Top margin and auto horizontally to center */
      display: block; /* Block display ensures margin auto works */
    }

    @media (max-width: 768px) {
      img {
        max-width: 100%; /* Make image full width */
      }
    }

      h1 {
        font-size: 2rem;
        font-weight: bold;
        margin: 1rem 0;
      }
      
     h2 {
        font-size: 1.75rem;
        font-weight: bold;
        margin: 0.875rem 0;
      }
      
     h3 {
        font-size: 1.5rem;
        font-weight: bold;
        margin: 0.75rem 0;
      }
      
     h4 {
        font-size: 1.25rem;
        font-weight: bold;
        margin: 0.625rem 0;
      }
      
     h5 {
        font-size: 1rem;
        font-weight: bold;
        margin: 0.5rem 0;
      }
      
      h6 {
        font-size: 0.875rem;
        font-weight: bold;
        margin: 0.375rem 0;
      }
      
      p {
        padding-bottom: 5px;
      }
  }

  // /* Add this to your global CSS */
 
  // a {
  //   color: var(--blue);
  //   cursor: pointer;
  //   text-decoration: underline; // Adds underline
  
  //   &:hover {
  //     color: var(--blue-hover);
  //     text-decoration: underline; // Keeps underline on hover
  //   }
  // }
  